# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

In [1]:
import pandas as pd

In [5]:
df=pd.read_csv('/Users/enissetterivera/Ironhack/lab-dw-data-cleaning-and-formatting/clean_customers.csv')
df_1=pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv')

In [8]:
df_1.columns

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [16]:
df_1.groupby('Response')['Total Claim Amount'].agg('count')

Response
No     8813
Yes    1466
Name: Total Claim Amount, dtype: int64

In [18]:
df_1.groupby('Response')['Total Claim Amount'].get_group('Yes')

3        484.013411
8        739.200000
15       547.200000
19        19.575683
27        60.036683
            ...
10844    547.200000
10852    791.878042
10872    547.200000
10887    528.200860
10897    158.077504
Name: Total Claim Amount, Length: 1466, dtype: float64

In [19]:
filter_claim=df_1['Total Claim Amount']>1000
filter_response=df_1['Response']=='Yes'
df_1.loc[filter_claim & filter_response]

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
189,189,OK31456,California,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,NaN
236,236,YJ16163,Oregon,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
419,419,GW43195,Oregon,25807.063000,Yes,Extended,College,2/13/11,Employed,F,...,1.0,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small,A
442,442,IP94270,Arizona,13736.132500,Yes,Premium,Master,2/13/11,Disabled,F,...,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A
587,587,FJ28407,California,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10351,10351,FN44127,Oregon,3508.569533,Yes,Extended,College,1/5/11,Medical Leave,M,...,1.0,1,Personal Auto,Personal L2,Offer2,Branch,1176.278800,Four-Door Car,Small,NaN
10373,10373,XZ64172,Oregon,10963.957230,Yes,Premium,High School or Below,2/8/11,Employed,M,...,0.0,1,Corporate Auto,Corporate L2,Offer1,Agent,1324.800000,Luxury SUV,Medsize,NaN
10487,10487,IX60941,Oregon,3508.569533,Yes,Extended,College,1/5/11,Medical Leave,M,...,1.0,1,Personal Auto,Personal L3,Offer2,Branch,1176.278800,Four-Door Car,Small,NaN
10565,10565,QO62792,Oregon,7840.165778,Yes,Extended,College,1/14/11,Employed,M,...,2.0,1,Personal Auto,Personal L3,Offer2,Agent,1008.000000,NaN,NaN,NaN
10708,10708,CK39096,Oregon,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L3,Offer2,Web,1027.000029,SUV,Medsize,A

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [22]:
pd.pivot_table(df_1.loc[filter_response], index=['Gender','Policy Type'], values='Total Claim Amount')

#good practice es mejor primero filtros y luego groupby's

                       Total Claim Amount
Gender Policy Type
F      Corporate Auto          433.738499
       Personal Auto           452.965929
       Special Auto            453.280164
M      Corporate Auto          408.582459
       Personal Auto           457.010178
       Special Auto            429.527942

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [27]:
states_500=df_1['State'].value_counts()[df_1['State'].value_counts()>500].index

In [30]:
filter_state=df_1['State'].isin(states_500)

In [45]:
df_1[filter_state].groupby('State').size()

State
Arizona       1937
California    3552
Nevada         993
Oregon        2909
Washington     888
dtype: int64

In [46]:
df_1[filter_state].groupby('State').size()
df_1[filter_state].groupby('State').value_counts()
pd.pivot_table(df_1[filter_state].groupby('State').size(), columns='State')

AttributeError: 'Series' object has no attribute 'columns'

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [35]:
df_1.groupby(['Education','Gender'])[['Customer Lifetime Value']].describe().round(1)

                            Customer Lifetime Value                          \
                                              count    mean     std     min
Education            Gender
Bachelor             F                       1700.0  7874.3  6614.1  1904.0
                     M                       1572.0  7703.6  6658.5  1898.0
College              F                       1608.0  7748.8  6678.3  1898.7
                     M                       1596.0  8052.5  6717.0  1918.1
Doctor               F                        200.0  7328.5  6930.6  2395.6
                     M                        201.0  7415.3  5460.9  2267.6
High School or Below F                       1590.0  8675.2  7497.8  2144.9
                     M                       1556.0  8149.7  7190.6  1941.0
Master               F                        475.0  8157.1  6621.8  2417.8
                     M                        412.0  8168.8  7362.2  2272.3


                                25%     50%     75%      max
Education            Gender
Bachelor             F       4118.6  5640.5  8723.2  73226.0
                     M       3842.3  5548.0  8646.7  67907.3
College              F       3866.8  5623.6  8714.9  61850.2
                     M       4035.9  6005.8  9157.8  61134.7
Doctor               F       3531.3  5332.5  7662.7  44856.1
                     M       3557.4  5577.7  8828.4  32677.3
High School or Below F       4158.3  6039.6  9457.3  55277.4
                     M       4197.7  6286.7  9002.2  83325.4
Master               F       4061.9  5729.9  9264.0  51016.1
                     M       3933.0  5579.1  9031.1  50568.3

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [ ]:
# your code goes here

In [37]:
from datetime import timedelta

In [38]:
df_1.columns

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')

In [43]:
df_1['days since policy inception']=(df_1['Months Since Policy Inception']*30).apply(pd.Timedelta,unit='D')

In [41]:
pd.Timedelta(54)

Timedelta('0 days 00:00:00.000000054')

In [42]:
timedelta(56)

datetime.timedelta(days=56)

In [44]:
pd.to_datetime(df_1['Effective To Date'])

/var/folders/pp/vxz6kky165s0qt5vsqff4kc00000gn/T/ipykernel_2982/3202191123.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(df_1['Effective To Date'])

0       2011-02-18
1       2011-01-18
2       2011-02-10
3       2011-01-11
4       2011-01-17
           ...
10905   2011-01-19
10906   2011-01-06
10907   2011-02-06
10908   2011-02-13
10909   2011-01-08
Name: Effective To Date, Length: 10910, dtype: datetime64[ns]